# =========================
# Node / Frontend
# =========================
node_modules/
npm-debug.log*
yarn-error.log*

# Vite
.vite/
frontend/node_modules/
frontend/node_modules/.vite/

# Build outputs
dist/
build/

# =========================
# Environment files
# =========================
.env
.env.local
.env.production
.env.*


# =========================
# Python / Backend
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Pip
pip-log.txt
pip-delete-this-directory.txt

# =========================
# OS / Editor junk
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
